.administration{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.titleAdmin{
    padding: 20px;
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}


.option{
    margin: 20px;
    padding: 10px;
    background-color: rgb(104, 104, 104);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    width: 30%;
    text-align: center;
    border-radius: 5px;
    border-top: 10px solid rgb(104, 104, 104);
    border-left: 10px solid rgb(104, 104, 104);
    border-right: 10px solid rgb(63, 63, 63);
    border-bottom: 10px solid rgb(58, 58, 58);
    transition: all ease 500ms;
}

.option:hover{
    background-color: rgb(44, 44, 44);
    border-top: 10px solid rgb(66, 66, 66);
    border-left: 10px solid rgb(63, 63, 63);
    border-right: 10px solid rgb(32, 32, 32);
    border-bottom: 10px solid rgb(17, 17, 17);
    transition: all ease 500ms;
}

.option2{
    margin: 20px;
    padding: 10px;
    background-color: rgb(199, 182, 33);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    color: white;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    border-top: 10px solid rgb(222, 224, 82);
    border-left: 10px solid rgb(222, 224, 82);
    border-right: 10px solid rgb(154, 156, 23);
    border-bottom: 10px solid rgb(154, 156, 23);
    color: rgb(26, 26, 26);
    transition: all ease 500ms;
}

.option3{
    margin: 20px;
    padding: 10px;
    background-color: rgb(199, 33, 33);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    color: white;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    border-top: 10px solid rgb(224, 82, 82);
    border-left: 10px solid rgb(224, 82, 82);
    border-right: 10px solid rgb(156, 23, 23);
    border-bottom: 10px solid rgb(156, 23, 23);
    color: rgb(26, 26, 26);
    transition: all ease 500ms;
}



#userFormulario{
    width: 50px;
}

.user{
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
}

img{
    width: 50px;
}